In [5]:
import pandas as pd
# Example dataframe
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}
df = pd.DataFrame(raw_data, columns = ['regiment', 'company', 'name', 'preTestScore', 'postTestScore'])
df.groupby('regiment')['postTestScore'].sum()
df.groupby('regiment')['postTestScore'].size()
df.groupby('regiment')['postTestScore'].count()

regiment
Dragoons      4
Nighthawks    4
Scouts        4
Name: postTestScore, dtype: int64

regiment         NighthawksNighthawksNighthawksNighthawksDragoo...
company                       1st1st2nd2nd1st1st2nd2nd1st1st2nd2nd
name             MillerJacobsonAliMilnerCoozeJaconRyanerSoneSlo...
preTestScore                                                   133
postTestScore                                                  748
dtype: object

regiment         12
company          12
name             12
preTestScore     12
postTestScore    12
dtype: int64